In [1]:
# Import dependencies
import datetime as dt
import numpy as np
import pandas as pd
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from flask import Flask, jsonify

In [2]:
# Access and query the SQLite database
engine = create_engine("sqlite:///hawaii.sqlite")

# Reflect the database into the classes
Base = automap_base()

# Reflect the tables
Base.prepare(engine, reflect=True)

In [11]:
# Identify classes
Measurement = Base.classes.measurement
Station = Base.classes.station

Table('measurement', MetaData(bind=None), Column('id', INTEGER(), table=<measurement>, primary_key=True, nullable=False), Column('station', TEXT(), table=<measurement>), Column('date', TEXT(), table=<measurement>), Column('prcp', FLOAT(), table=<measurement>), Column('tobs', FLOAT(), table=<measurement>), schema=None)

In [6]:
# Create a link from Python to the database
session = Session(engine)

In [45]:
results = session.query(Measurement.id, Measurement.station, Measurement.date, Measurement.prcp, Measurement.tobs).all()

list

In [46]:
df = pd.DataFrame(results, columns=['id', 'station', 'date','precipitation', 'temperature'])
df['date'] = pd.to_datetime(df['date'])
df.set_index(df['date'], inplace=True)
df = df.sort_index()

df_June = df[df['date'].apply(lambda x: x.month) == 6]
df_December = df[df['date'].apply(lambda x: x.month) == 12]

In [48]:
df_June.describe()

                 id  precipitation  temperature
count   1700.000000    1574.000000  1700.000000
mean    9752.647647       0.136360    74.944118
std     5617.512522       0.335731     3.257417
min      134.000000       0.000000    64.000000
25%     5020.750000       0.000000    73.000000
50%     9673.500000       0.020000    75.000000
75%    14547.250000       0.120000    77.000000
max    19497.000000       4.430000    85.000000

In [49]:
df_December.describe()

                 id  precipitation  temperature
count   1517.000000    1405.000000  1517.000000
mean    9816.710613       0.216819    71.041529
std     5658.321092       0.541399     3.745920
min      306.000000       0.000000    56.000000
25%     4840.000000       0.000000    69.000000
50%     9876.000000       0.030000    71.000000
75%    14717.000000       0.150000    74.000000
max    19328.000000       6.420000    83.000000